body{
    background-color: azure;
}
.card1 {
    background-color: lightgreen;
    border: 3px solid green;
    float: left;
    margin-left: 50px;
    box-shadow: 10px 10px 5px #aaaaaa;
    

}
.card2 {
    background-color: lightgreen;
    border: 3px solid green;
    position: absolute;
    left:35%;
    right:40%;
    box-shadow: 10px 10px 5px #aaaaaa;
    

}
.card3 {
    background-color: lightgreen;
    border: 3px solid green;
    float: right;
    left:50%
    right:60%;
    margin-right:50px;
    box-shadow: 10px 10px 5px #aaaaaa;
   

}